/* start auth component */

.authPageParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
}

.authIntroText {
  font-family: "le-havre", "sans-serif";
  font-weight: 700;
  color: #fa67ce;
  font-size: 2rem;
}

.authFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #edcc26;
  padding: 3rem;
  gap: 1rem;
  width: 30rem;
}

.authFormLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 3rem;
}

.authFormLink {
  color: #000000;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 3rem;
  text-decoration: none;
}

.authFormLink:hover,
.authFormLink:focus {
  color: #fa67ce;
}

.authFormDot {
  color: #fa67ce;
  font-size: 3rem;
}

.authFormLine {
  border: 3px solid #fa67ce;
  width: 100%;
}

.authFormForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.authFormFieldsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formFieldLabel {
  max-width: 10rem;
}

.formFieldLabelText {
  color: #000000;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 2rem;
}

.formInput {
  color: #000000;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
  width: 90%;
}

.submitBtn {
  background-color: #edcc26;
  padding: 10px 20px;
  text-align: center;
  color: #000000;
  border-style: solid;
  border-width: 3px;
  border-radius: 32px;
  border-color: #fa67ce;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 2rem;
}

.submitBtn:hover {
  cursor: pointer;
  border-color: #000000;
  color: #fa67ce;
}
/* end auth component */

/* start frames component */
.landscapeExtraWide {
  width: 20rem;
  height: 12rem;
  padding: 1rem;
  border: 2px solid #e2be75;
  background: linear-gradient(30deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
}

.landscapeRectangle {
  width: 17rem;
  height: 12rem;
  padding: 1rem;
  border: 2px solid #e2be75;
  background: linear-gradient(30deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
}

.portraitRectangle {
  width: 12rem;
  height: 17rem;
  padding: 1rem;
  border: 2px solid #e2be75;
  background: linear-gradient(50deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
}

.square {
  width: 12rem;
  height: 12rem;
  padding: 1rem;
  border: 2px solid #e2be75;
  background: linear-gradient(40deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
}

.squareLarge {
  width: 17rem;
  height: 17rem;
  padding: 1rem;
  border: 2px solid #e2be75;
  background: linear-gradient(40deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
}
/* end frames component */

/* start X num gallery wall components */
.frameLayoutParentDiv {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.frameLayoutTopRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 1em;
}

.frameLayoutMiddleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.frameLayoutBottomRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}
/* end X num gallery wall components */
