body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.FiveImageWallParentDiv,
.SevenImageWallParentDiv {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.FiveImageWallTop,
.SevenImageWallTop {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 1em;
}
.SevenImageWallMiddle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.FiveImageWallBottom,
.SevenImageWallBottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

.landscapeRectangle {
  width: 300px;
  height: 200px;
  padding: 1rem;
  border: 3px solid rgb(228, 218, 218);
  background: radial-gradient(rgb(224, 222, 222), whitesmoke);
  filter: drop-shadow(3px 3px 3px rgb(160, 160, 160));
}
.square {
  width: 200px;
  height: 200px;
  padding: 2rem;
  border: 3px solid rgb(228, 218, 218);
  background: radial-gradient(rgb(224, 222, 222), whitesmoke);
  filter: drop-shadow(3px 3px 3px rgb(160, 160, 160));
}

.portraitRectangle {
  width: 200px;
  height: 300px;
  padding: 1rem;
  border: 3px solid rgb(228, 218, 218);
  background: radial-gradient(rgb(224, 222, 222), whitesmoke);
  filter: drop-shadow(3px 3px 3px rgb(160, 160, 160));
}
