body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.FiveImageWallParentDiv,
.SixImageWallParentDiv,
.SevenImageWallParentDiv,
.EightImageWallParentDiv {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.FiveImageWallTop,
.SixImageWallTop,
.SevenImageWallTop,
.EightImageWallTop {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 1em;
}
.SevenImageWallMiddle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.FiveImageWallBottom,
.SevenImageWallBottom,
.EightImageWallBottom,
.SixImageWallBottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

.landscapeRectangle {
  width: 150px;
  height: 100px;
  padding: 0.5rem;
  border: 3px solid rgb(228, 218, 218);
  background: radial-gradient(rgb(224, 222, 222), whitesmoke);
  filter: drop-shadow(3px 3px 3px rgb(160, 160, 160));
  object-fit: cover;
}

.landscapeRectangleExtraWide {
  width: 175px;
  height: 100px;
  padding: 0.5rem;
  border: 3px solid rgb(228, 218, 218);
  background: radial-gradient(rgb(224, 222, 222), whitesmoke);
  filter: drop-shadow(3px 3px 3px rgb(160, 160, 160));
}

.square {
  width: 100px;
  height: 100px;
  padding: 0.5rem;
  border: 3px solid rgb(228, 218, 218);
  background: radial-gradient(rgb(224, 222, 222), whitesmoke);
  filter: drop-shadow(3px 3px 3px rgb(160, 160, 160));
  object-fit: cover;
}

.squareLarge {
  width: 150px;
  height: 150px;
  padding: 0.5rem;
  border: 3px solid rgb(228, 218, 218);
  background: radial-gradient(rgb(224, 222, 222), whitesmoke);
  filter: drop-shadow(3px 3px 3px rgb(160, 160, 160));
}

.portraitRectangle {
  width: 100px;
  height: 150px;
  padding: 0.5rem;
  border: 3px solid rgb(228, 218, 218);
  background: radial-gradient(rgb(224, 222, 222), whitesmoke);
  filter: drop-shadow(3px 3px 3px rgb(160, 160, 160));
}

.sofaImage {
  width: 800px;
}

.galleryWallParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
