/* start auth component */

/* .authPageParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
}

.authIntroText {
  font-family: "le-havre", "sans-serif";
  font-weight: 700;
  color: #fa67ce;
  font-size: 2rem;
}

.authFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #edcc26;
  padding: 3rem;
  gap: 1rem;
  width: 30rem;
}

.authFormLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 3rem;
}

.authFormLink {
  color: #000000;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 2.5rem;
  text-decoration: none;
}

.authFormLink:hover,
.authFormLink:focus {
  color: #fa67ce;
}

.authFormDot {
  color: #fa67ce;
  font-size: 3rem;
}

.authFormLine {
  border: 3px solid #fa67ce;
  width: 100%;
}

.authFormForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.authFormFieldsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formFieldLabel {
  max-width: 10rem;
}

.formFieldLabelText {
  color: #000000;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 2rem;
}

.formInput {
  color: #000000;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
  width: 90%;
  border: none;
}

.formInput:focus {
  outline: none;
}

.submitBtn {
  background-color: #edcc26;
  padding: 10px 20px;
  text-align: center;
  color: #000000;
  border-style: solid;
  border-width: 3px;
  border-radius: 32px;
  border-color: #fa67ce;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 2rem;
}

.submitBtn:hover {
  cursor: pointer;
  border-color: #000000;
  color: #fa67ce;
} */
/* end auth component */

/* start frames component */
/* .landscapeExtraWide {
  width: 20rem;
  height: 12rem;
  padding: 1rem;
  border: 2px solid #e2be75;
  background: linear-gradient(30deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
}

.landscapeRectangle {
  width: 17rem;
  height: 12rem;
  padding: 1rem;
  border: 2px solid #e2be75;
  background: linear-gradient(30deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
}

.portraitRectangle {
  width: 12rem;
  height: 17rem;
  padding: 1rem;
  border: 2px solid #e2be75;
  background: linear-gradient(50deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
}

.square {
  width: 12rem;
  height: 12rem;
  padding: 1rem;
  border: 2px solid #e2be75;
  background: linear-gradient(40deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
}

.squareLarge {
  width: 17rem;
  height: 17rem;
  padding: 1rem;
  border: 2px solid #e2be75;
  background: linear-gradient(40deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
} */
/* end frames component */

/* start X num gallery wall components */
.frameLayoutParentDiv {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.frameLayoutTopRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 1em;
}

.frameLayoutMiddleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.frameLayoutBottomRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}
/* end X num gallery wall components */

/* start gallery wall component */
.sofaImage {
  width: 1200px;
}
/* end gallery wall component */

/* start home component */
.homeParentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #edcc26;
  width: 60%;
  padding: 10rem;
}

.homeH1 {
  font-family: "hwt-arabesque", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ad368a;
  font-size: 5rem;
  margin: 0;
}

.homeH2 {
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 2rem;
  color: #ad368a;
}

.startCreatingBtn {
  background-color: #edcc26;
  padding: 10px 20px;
  text-align: center;
  color: #ad368a;
  border-style: solid;
  border-width: 3px;
  border-radius: 32px;
  border-color: #ad368a;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 2rem;
  width: 15rem;
}

.startCreatingBtn:hover {
  cursor: pointer;
  border-color: #000000;
  color: #000000;
}
/* end home component */

/* start navbar component */
.navParent {
  border-bottom: 10px solid #edcc26;
  width: 100%;
}

.logoLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 2rem 4rem;
}

.logoLinksContainerLoggedOut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem 3rem 4rem;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8rem;
}

.navLogo {
  width: 20rem;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.navLink {
  color: #000000;
  font-family: "le-havre", "sans-serif";
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

.navLink:focus,
.navLink:hover {
  cursor: pointer;
  color: #fa67ce;
}

.logoutBtn {
  background-color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  color: #000000;
  border-style: solid;
  border-width: 3px;
  border-radius: 32px;
  border-color: #fa67ce;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 2rem;
}

.logoutBtn:hover {
  cursor: pointer;
  border-color: #000000;
  color: #fa67ce;
}
/* end navbar component */

/* start saved walls component */
.savedWallsParentDiv {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-items: center;
}

.savedWallsContainer {
  background-color: #edcc26;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.savedWallsHeader {
  font-family: "hwt-arabesque", sans-serif;
  font-weight: 400;
  color: #ad368a;
  font-size: 3rem;
}

.savedWallsNameLink {
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  color: #000000;
  font-size: 2rem;
  text-decoration: none;
}

.savedWallsNameLink:hover {
  color: #fa67ce;
}

.deleteBtn {
  background-color: #edcc26;
  border-radius: 50%;
  padding: 0rem 1rem 0.25rem 1rem;
  text-align: center;
  color: #000000;
  border-style: solid;
  border-width: 3px;
  border-color: #fa67ce;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 2rem;
}

.deleteBtn:hover {
  cursor: pointer;
  border-color: #000000;
  color: #fa67ce;
}
/* end saved walls component */
