.parentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.sofaFramesContainer {
  display: flex;
  flex-direction: column;
}

.toolbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.toolbarFrames {
  display: flex;
  flex-direction: row;
}

.selectNumFrames,
.selectSofa {
  max-height: 1rem;
  max-width: 3rem;
}

.toolbarSofa {
  display: flex;
  flex-direction: row;
}

.saveWallForm {
  display: flex;
  flex-direction: row;
}

.savedEtsyArtContainer {
  display: flex;
  flex-direction: column;
}

.sofaImage {
  max-width: 600px;
}

.generateBtn {
  background-color: #fa67ce;
  color: #000000;
  padding: 5px 10px;
  text-align: center;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 0.75rem;
  border: none;
  border-radius: 32px;
}

.generateBtn:hover {
  cursor: pointer;
  border: solid 1px #fa67ce;
  background-color: #ffffff;
}

input[type="file"] {
  display: none;
}

.submitBtn,
.fileUpload {
  background-color: #fa67ce;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  border: none;
  border-radius: 32px;
}

.submitBtn:hover,
.fileUpload:hover {
  cursor: pointer;
}

.hr {
  color: #6de2d4;
  border: solid 2px;
  width: 100%;
}

.collapseHeader {
  background-color: #6de2d4;
  padding: 6px;
  cursor: pointer;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  width: 600px;
}
