.landscapeRectangle {
  width: 17rem;
  height: 12rem;
  padding: 1rem;
  border: 2px solid #e2be75;
  background: linear-gradient(30deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
}
