.container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.landscapeRectangle {
  width: 7.5rem;
  height: 5.5rem;
  padding: 0.5rem;
  border: 1px solid #e2be75;
  background: linear-gradient(30deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
  filter: brightness(100%);
}

.buttons, .etsyArtButtons {
  display: none;
}

.container:hover img {
  filter: brightness(65%);
} 

.filled:hover + .buttons, .filled:hover + .etsyArtButtons,
.buttons:hover, .etsyArtButtons:hover {
  display: flex;
  position: absolute;
  gap: 0.2rem;
  top: 13%;
  right: 10%;
}

.icon {
  width: auto;
  height: 10px;
}

.icon:hover {
  cursor: pointer;
}

.clearButton {
  color: #9e4d91;
}