.parentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myArtH1 {
  font-family: "le-havre", "sans-serif";
  font-weight: 700;
  font-size: 1.25rem;
  color: #000000;
  margin: 0;
}

.myArtH2 {
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}

.hr {
  color: #6de2d4;
  border: solid 1px;
  width: 100%;
}

.numImagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userArtContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.myArtImg {
  width: 5rem;
  height: 7rem;
  object-fit: cover;
}

.artUploader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

input[type="file"] {
  display: none;
}

.submitBtn,
.fileUpload {
  background-color: #fa67ce;
  color: #000000;
  padding: 5px 10px;
  text-align: center;
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 0.75rem;
  border: none;
  border-radius: 32px;
}

.submitBtn:hover,
.fileUpload:hover {
  cursor: pointer;
  border: solid 1px #fa67ce;
  background-color: #ffffff;
}
