.container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.container img {
  width: 6rem;
  height: 8.5rem;
  padding: 0.5rem;
  border: 1px solid #e2be75;
  background: linear-gradient(50deg, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  filter: drop-shadow(3px 3px 3px rgb(182, 173, 153));
  object-fit: cover;
  filter: brightness(100%);
}

.buttons {
  display: none;
  height: .25rem;
  width: .25rem;
}

.filled:hover img {
  filter: brightness(65%);
}

.filled:hover + .buttons, .buttons:hover {
  display: flex;
  position: absolute;
  gap: .1rem;
  top: 8%;
  left: 2%;
}
