.savedArtContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.savedArtImgsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.savedArtH1 {
  font-family: "le-havre", "sans-serif";
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
  margin: 0;
}

.savedArtH2 {
  font-family: "le-havre", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}

.hr {
  color: #6de2d4;
  border: solid 1px;
  width: 100%;
}

.savedArtImg {
  width: 7rem;
  height: 9rem;
  object-fit: cover;
}

.imgContainer {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.buttons {
  display: none;
}

.savedArtImg:hover + .buttons, .buttons:hover {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: .2rem;
  top: 13%;
  right: 31%;
}